.topnav{
  overflow: hidden;
  background-color: #333;
}
.topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
.topnav a:hover {
    background-color: #ddd;
    color: black;
}
.leftcolumn{
  display: inline-block;
  float: left;
  width: 15%;
  margin-top: 1%;
  background-color: #333;
}
.leftcolumn a{
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
.leftcolumn a:hover{
    background-color: #ddd;
    color: black;
}
.rightcolumn{
  float: left;
  width: 70%;
  box-sizing: border-box;
}
.footer {
    padding: 20px;
    width: 97%;
    text-align: center;
    background: #333;
    color: white;
    margin-top: 1%;
}
form{
  border: 3px solid #f1f1f1;
  margin: 1%;
  padding-bottom: 1%;
  height: 100%
}
#formdiv{
  display: inline-block;
  margin-left: 5%;
  margin-top: 3%;
  width: 65%
}
.inp{
  width: 98%;
  margin-left: 10px;
  padding: 12px 20px;
  display: inline-block;
  box-sizing: border-box;
  border: 1px solid #ccc;
}
.lb{
  padding: 16px;
}
#sub:hover{
  background-color: red;
  color: white;
}
.row:after{
  content: " ";
  display: block;
  clear: both;
}